body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   -webkit-font-smooth: antialiased; 
}

.header_div {
    background-color: darkgray;
    padding: 40px;
}

.header_title {
    font-weight: normal;
    font-size: xx-large;
    color: white;
}

.block {
    box-sizing: border-box;
    border: 5px black;
    box-shadow: 5px 5px 10px 5px lightgrey;
    width: 600px;
    margin: auto;
    padding: 20px;
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.945);

}

.block_content {
    width: 450px;
    max-width: 450px;

}

.sub_heading {
    width: 300px;
}

.sub_heading_title {
    font-weight: bold;
}