body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   -webkit-font-smooth: antialiased; 
}

.sub_heading {
    width: 300px;
}

.sub_heading_title {
    font-weight: bold;
}